<div th:fragment="faq" class="p-3">
    <h1 class="h2">Häufige Fragen</h1>
    <p>
        Hier finden Sie die Antworten auf die am häufigsten gestellten Fragen
    </p>
    <hr/>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="dollar-sign"></span>
                Was kostet ynvest?
            </h6>
            <p>
                ynvest kostet dich als Privatkunden monatlich gar nichts.
                Lediglich Trades (Kauf/Verkauf) von Aktien kosten dich
                0,99 € pro Auftrag.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="home"></span>
                In was kann ich investieren?
            </h6>
            <p>
                Bei ynvest kannst du in alle <strong><u>40 DAX-Konzerne</u></strong>
                investieren!
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="pen-tool"></span>
                Gibt es eine Anlageberatung?
            </h6>
            <p>
                Nein! ynvest gibt keine Anlageberatung. Jeder Kunde handelt
                auf eigene Gefahr.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="shield-off"></span>
                Verkauft ynvest meine Daten?
            </h6>
            <p>
                Ja! Wir verkaufen deine ganzen Daten an
                amerikanische Großkonzerne. Wie sollen
                wir sonst so günstig sein?
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="briefcase"></span>
                Mit welcher Bank arbeitet ynvest zusammen?
            </h6>
            <p>
                Mit der Online-Bank <strong><u>eBank</u></strong>.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <span data-feather="monitor"></span>
                An welcher Börse kann ich bei ynvest handeln?
            </h6>
            <p>
                An der deutschen Börse <strong><u>yetra</u></strong>.
            </p>
        </div>
    </div>
</div>