<div th:fragment="faq" class="p-3">
    <h1 class="h2">Häufige Fragen</h1>

    <div class="faq-question mt-4">
        <h2 class="h3">Wie viel kostet ynvest?</h2>
        <p>
            ynvest kostet dich grundsätzlich gar nichts. Lediglich Trades (Kauf/Verkauf) von Aktien kostet dich
            0,99 € pro Auftrag.
        </p>
    </div>

    <div class="faq-question mt-4">
        <h2 class="h3">Verkauft ynvest meine Daten?</h2>
        <p>
            Nein.
        </p>
    </div>

    <div class="faq-question mt-4">
        <h2 class="h3">Sollte ich mein Geld anlegen?</h2>
        <p>
            Ja.
        </p>
    </div>
</div>