<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="orders" class="p-3">
    <h1 class="h2">Aufträge</h1>

    <table class="table table-striped table-hover table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">ISIN</th>
            <th scope="col">Typ</th>
            <th scope="col">Menge</th>
            <th scope="col">Stückpreis</th>
            <th scope="col">Status</th>
            <th scope="col">Gesamtpreis</th>
            <th scope="col">Platziert am</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <th scope="row">
                <a th:href="@{/portfolio/share/{isin}(isin= ${order.getIsin()})}">
                    <label th:text="${order.getIsin()}"></label><br/>
                    <label th:text="${order.getOrderId()}" class="text-muted"></label>
                </a>
            </th>
            <td><label th:text="${order.getType()}"></label></td>
            <td>x<label th:text="${order.getQuantity()}"></label></td>
            <td><label th:text="${order.getUnitPrice()}"></label> €</td>
            <td><label th:text="${order.getStatus()}"></label></td>
            <td><label th:text="${order.getRoundedTotalPrice()}"></label> €</td>
            <td><label th:text="${order.getPlacedOnHumanReadable()}"></label></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
