<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="orders" class="p-3">
    <h1 class="h2">Aufträge</h1>
    <hr/>

    <div class="empty-list" th:if="${orders == null || #lists.isEmpty(orders)}">
        <span data-feather="shopping-cart"></span>
        <p>Noch keine Aufträge vorhanden</p>
    </div>

    <table class="table table-striped table-hover table-dark mt-3"
           th:unless="${#lists.isEmpty(orders)}">
        <thead>
        <tr>
            <th scope="col">ISIN</th>
            <th scope="col">Typ</th>
            <th scope="col">Menge</th>
            <th scope="col">Stückpreis</th>
            <th scope="col">Status</th>
            <th scope="col">Gesamtpreis</th>
            <th scope="col">Platziert am</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <th scope="row">
                <a th:href="@{/portfolio/share/{isin}(isin= ${order.getIsin()})}">
                    <label th:text="${order.getIsin()}"></label><br/>
                    <label th:text="${order.getOrderId()}" class="text-muted"></label>
                </a>
            </th>
            <td><label th:text="${order.getType()}"></label></td>
            <td>x<label th:text="${order.getQuantity()}"></label></td>
            <td><label th:text="${#numbers.formatDecimal((order.getUnitPrice() ?: 0.0), 1, 'POINT', 2, 'COMMA')}"></label> €</td>
            <td><label th:text="${order.getStatus()}"></label></td>
            <td><label th:text="${#numbers.formatDecimal((order.getRoundedTotalPrice() ?: 0.0), 1, 'POINT', 2, 'COMMA')}"></label> €</td>
            <td><label th:text="${order.getPlacedOnHumanReadable()}"></label></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${totalPages gt 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item bg-dark" th:if="${currentPage > 1}">
                <a class="page-link" th:href="'?page=' + ${currentPage - 1}">
                    Vorherige
                </a>
            </li>
            <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == i} ? 'active' : ''"
                class="page-item bg-dark">
                <a class="page-link" th:href="'?page=' + ${i}">
                    <label th:text="${i}"></label>
                </a>
            </li>
            <li class="page-item bg-dark" th:if="${currentPage < totalPages}">
                <a class="page-link" th:href="'?page=' + ${currentPage + 1}">
                    Nächste
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
