<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="portfolio" class="p-3">
    <h1 class="h2">Dein Depot</h1>

    <div id="portfolio-actions">
        <small class="text-muted">Portfoliowert</small>
        <h2 class="portfolio-value">
            XXX.XXX €
            <span class="stock-positive subbed">+X.X%</span>
        </h2>
        <p class="text-muted">
            Verfügbares Guthaben: <label th:text="${bankAccount?.getVirtualBalance()}"></label> €
        </p>
    </div>

    <div id="portfolio-values">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Wertpapier</th>
                <th scope="col">Kurs</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="share : ${shares}">
                <td>
                    <a th:href="@{/portfolio/share(isin=${share.getIsin()})}">
                        <label th:text="${share.getIsin()}"></label><br/>
                        <b>x<label th:text="${share.getQuantity()}"></label></b>
                    </a>
                </td>
                <td>
                    XXX,XX<br/>
                    <span class="stock-negative">-X.X%</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>