<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="share" class="p-3">
    <h1 class="h2">{Share_Name}</h1>
    <hr/>

    <div class="container g-0">
        <div class="row">
            <div class="col">
                <small class="text-muted">Aktueller Kurswert</small>
                <h2 class="portfolio-value">
                    <label th:text="${stockOrder.getUnitPrice()}"></label> €
                    <span class="stock-positive subbed">+X.X%</span>
                </h2>
                <p class="text-muted">
                    ISIN: <label th:text="${share.getIsin()}"></label><br/>
                    Besitz: <label th:text="${share.getQuantity()}"></label> Anteile<br/>
                </p>

            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-danger btn-lg"
                            th:disabled="${share.getQuantity() == 0}"
                            data-bs-toggle="modal" data-bs-target="#sellModal">Verkaufen
                    </button>
                    <button type="button" class="btn btn-primary btn-lg"
                            data-bs-toggle="modal" data-bs-target="#buyModal">Kaufen
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h3">Performance</h2>
                <hr/>
                <div class="btn-group">
                    <a href="?period=day" class="btn btn-outline-primary"
                       th:classappend="${period == null || period == 'day'} ? 'active' : ''">Tag</a>
                    <a href="?period=week" class="btn btn-outline-primary"
                       th:classappend="${period == 'week'} ? 'active' : ''">Woche</a>
                    <a href="?period=month" class="btn btn-outline-primary"
                       th:classappend="${period == 'month'} ? 'active' : ''">Monat</a>
                    <a href="?period=year" class="btn btn-outline-primary"
                       th:classappend="${period == 'year'} ? 'active' : ''">Jahr</a>
                </div>
                <canvas class="my-4 w-100" id="stock-chart" width="900" height="380"></canvas>

                <div th:unless="${#lists.isEmpty(orders)}">
                    <h2 class="h3">Offene Aufträge</h2>
                    <hr/>

                    <table class="table table-striped table-hover table-dark mt-3">
                        <thead>
                        <tr>
                            <th scope="col">Auftragsnummer</th>
                            <th scope="col">Typ</th>
                            <th scope="col">Menge</th>
                            <th scope="col">Stückpreis</th>
                            <th scope="col">Gesamtpreis</th>
                            <th scope="col">Platziert am</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="order : ${orders}">
                            <th scope="row">
                                <label th:text="${order.getOrderId()}"></label>
                            </th>
                            <td><label th:text="${order.getType()}"></label></td>
                            <td>x<label th:text="${order.getQuantity()}"></label></td>
                            <td><label th:text="${order.getUnitPrice()}"></label> €</td>
                            <td><label th:text="${order.getRoundedTotalPrice()}"></label> €</td>
                            <td><label th:text="${order.getPlacedOnHumanReadable()}"></label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Sell Modal -->
    <div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" th:action="@{/orders}" th:object="${stockOrder}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sellModalLabel">Aktie(n) verkaufen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Anteile im Besitz: <label th:text="${share.getQuantity()}"></label>
                        </p>

                        <input th:type="hidden" th:field="*{isin}" th:value="${stockOrder.getIsin()}"/>
                        <input th:type="hidden" th:field="*{unitPrice}" th:value="${stockOrder.getUnitPrice()}"/>
                        <!--<input th:type="hidden" id="type" name="type"
                               th:value="${T(de.ndhbr.ynvest.entity.OrderType).Sell}"/>-->
                        <input th:type="hidden" name="type" value="Sell"/>

                        <label for="sellQuantity">Wie viele Anteile möchtest du verkaufen?</label>
                        <input th:field="*{quantity}" type="number" class="form-control form-control-dark"
                               id="sellQuantity" th:max="${share.getQuantity()}" min="1"
                               placeholder="Anzahl">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button th:type="submit" class="btn btn-primary">
                            Auftrag erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Buy Modal -->
    <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" th:action="@{/orders}" th:object="${stockOrder}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="buyModalLabel">Aktie(n) kaufen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Verfügbares Guthaben: <label th:text="${virtualBalance}"></label> €
                        </p>

                        <input th:type="hidden" th:field="*{isin}" th:value="${stockOrder.getIsin()}"/>
                        <input th:type="hidden" th:field="*{unitPrice}" th:value="${stockOrder.getUnitPrice()}"/>
                        <input th:type="hidden" name="type" value="Buy"/>

                        <label for="buyQuantity">Wie viele Anteile möchtest du kaufen?</label>
                        <input th:field="*{quantity}" type="number" class="form-control form-control-dark"
                               id="buyQuantity" th:max="${virtualBalance / stockOrder.getUnitPrice()}" min="1"
                               placeholder="Anzahl">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="button" class="btn btn-primary" th:type="submit">
                            Auftrag erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
