<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="share" class="p-3">
    <h1 class="h2">{Share_Name}</h1>

    <div class="container g-0">
        <div class="row">
            <div class="col">
                <small class="text-muted">Aktueller Kurswert</small>
                <h2 class="portfolio-value">
                    <label th:text="${stockOrder.getUnitPrice()}"></label> €
                    <span class="stock-positive subbed">+X.X%</span>
                </h2>
                <p class="text-muted">
                    ISIN: <label th:text="${share.getIsin()}"></label><br/>
                    Besitz: <label th:text="${share.getQuantity()}"></label> Anteile<br/>
                </p>

            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-danger btn-lg"
                            th:disabled="${share.getQuantity() == 0}"
                            data-bs-toggle="modal" data-bs-target="#sellModal">Verkaufen
                    </button>
                    <button type="button" class="btn btn-primary btn-lg"
                            data-bs-toggle="modal" data-bs-target="#buyModal">Kaufen
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Performance</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Tag</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Woche</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Monat</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Jahr</label>
                </div>
                <canvas class="my-4 w-100" id="stock-chart" width="900" height="380"></canvas>
            </div>
        </div>
    </div>

    <!-- Sell Modal -->
    <div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" th:action="@{/orders}" th:object="${stockOrder}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sellModalLabel">Aktie(n) verkaufen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input th:type="hidden" th:field="*{isin}" th:value="${stockOrder.getIsin()}" />
                        <input th:type="hidden" th:field="*{unitPrice}" th:value="${stockOrder.getUnitPrice()}" />
                               <!-- th:value="${T(de.ndhbr.ynvest.entity.OrderType).Sell.name()}"> -->

                        <div class="form-input-group">
                            <select class="form-control form-control-dark" id="Type" th:field="*{type}">
                                <option th:each="type : ${T(de.ndhbr.ynvest.entity.OrderType).values()}"
                                        th:value="${type}" th:text="${type}"></option>
                            </select>
                            <input th:field="*{quantity}" type="number" class="form-control form-control-dark"
                                   id="Quantity" th:max="${share.getQuantity()}" min="1"
                                   placeholder="Anzahl">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button th:type="submit" class="btn btn-primary">
                            Auftrag erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Buy Modal -->
    <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" th:action="@{/orders}" th:object="${stockOrder}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="buyModalLabel">Aktie(n) kaufen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Verfügbares Guthaben: <label th:text="${virtualBalance}"></label> €

                        <input th:type="hidden" th:field="*{isin}" th:value="${stockOrder.getIsin()}"/>
                        <input th:type="hidden" th:field="*{unitPrice}" th:value="${stockOrder.getUnitPrice()}"/>

                        <div class="form-input-group">
                            <label for="Quantity">Wie viele Anteile möchtest du kaufen?</label>
                            <input th:field="*{quantity}" type="number" class="form-control form-control-dark"
                                   id="Quantity" th:max="${virtualBalance / stockOrder.getUnitPrice()}" min="1"
                                   placeholder="Anzahl">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="button" class="btn btn-primary" th:type="submit">
                            Auftrag erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
