<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="search_bar">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="@{/}">
            <img th:src="@{/img/logo.svg}" alt="ynvest Logo"/>
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="search-form" th:method="get" th:action="@{/search}">
            <div class="input-group">
                <input type="text" class="form-control form-control-dark" placeholder="Suche"
                       name="query" aria-label="Suche" min="3">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <span data-feather="search"></span>
                    </button>
                </div>
            </div>
        </form>
    </header>
</div>
</body>
</html>
