img.front-page {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.front-page-header {
  border-radius: 10px;
}

img.featured-in {
  width: 100%;
  opacity: .6;
  transition: 0.3s;
}

img.featured-in:hover {
  opacity: 1.0;
}